.warp-page{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}   
.side-bar{
    width: 15vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.show-data-page{
    width: 84vw;
    height: 100vh;
    margin-left: 1vw;
    border-left: 3px solid;
    display: flex;
}
.btn-style{
    margin-left:3px;
    width:100%;
    height:10%;
    margin-top:2px;  
}